

.content-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
}

.content-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #2a2a2a;
}

.content-excerpt {
    margin-bottom: auto;
}

.data-tags-footer {
    margin-top: 16px;
}


/*filtrowanie tagow */

.all-tags {
    text-align: center;
    margin: 20px 0;
}

.all-tags h3 {
    color: #ffffff; 
    margin-bottom: 15px;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}
.tag {
    padding: 0;
    margin: 0; 
    list-style: none; 
}
.tag-list .tag {
    margin: 5px 10px;
}

.tag-list .tag a {
    text-decoration: none;
    color: #90caf9; 
    background-color: #1e1e1e; 
    padding: 8px 15px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.tag-list .tag a:hover {
    background-color: #90caf9; 
    color: #121212; 
}
.tag-list .tag a.active {
    background-color: #ff0; /* Kolor wyróżnienia */
    color: #000; /* Kolor tekstu */
    font-weight: bold;
}